
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --prime-color: #1B262C;
    --second-color: #0F4C75;
    --third-color: #3282B8;
    --fourth-color: #BBE1FA;
    --contrast-color: #35cb46;
    --header-color: rgb(29, 29, 170);
    --header-colortwo: rgb(127, 14, 202);
    
    --ff-spicy: "Spicy Rice", cursive;
    --ff-sigmar: "Sigmar One", cursive;
    --ff-note: "Notable", sans-serif;
    --ff-econ: "Economico", sans-serif;
    --ff-script: "Lobster Two", cursive;
    --ff-dong: "Dongle", sans-serif;
    --ff-mono: "Lucida Console", "Courier New", monospace;
    
    --fs-header: 5rem;
    --fs-input: 2rem;
    --fs-card: 1.5rem;
    --fs-focus: 3rem;

    --bg-grad: linear-gradient(55deg, var(--prime-color) 15%, var(--second-color) 55%, var(--prime-color) 100% );

    --bs-norm: 2px 2px 4px 1px black,
                4px 4px 4px 2px rgba(0, 0, 0, 0.76);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-header {
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex; 
}

.page-header-txt {
    font-family: var(--ff-spicy);
    color: var(--header-color);
    text-shadow: 1px 1px 2px white, 0 0 1em var(--header-colortwo), 0 0 0.2em var(--header-colortwo);
    font-size: var(--fs-header);
    margin: 0 auto;
}

.page-container {
    display: grid;
    background-color: white;
    width: 100vw;
    grid-template-rows: 50px 1fr;
    height: max-content;   
}

.bug-card {
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 15em; 
    background: var(--bg-grad);
    border-radius: 3rem;
    padding: 1rem;
    /* justify-content: space-between; */
    box-shadow: var(--bs-norm);
}

/* .bug-card > * {
    margin: 0 auto;
} */

.bug-card:hover {
    transform: scale(1.05);
    transition: 0.25s;
}

input:hover {
    transform: scale(1.05);
    transition: 0.25s;
}

input[type="textarea"]:hover {
    transform: scale(1.05);
    transition: 0.25s;
}

input:focus {
    border-color: #BBE1FA;
    border-width: 5px;
}

.nav-link {
    text-decoration: none;
}
