.page-cont {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.motd-card-cont {
    width: 33vw;
    height: max-content;
    border-color: var(--third-color);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    background-color: var(--prime-color);
    color: var(--fourth-color);
    font-size: 1.5rem;
    margin: auto auto;
    padding-bottom: 2rem;
}

.motd-card.hdr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;

}

.motd-card.body {
    padding-left: 2rem;
    padding-right: 2rem;
}

.motd-card.ftr {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
