.page-header.dashboard {
    font-family: 'Spicy Rice', cursive;
    display: flex;
}

.dashboard-card-container {
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.dashboard-bc-bottom-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
}

.dashboard-bc.db-bc1 {
    color: green;
}
.dashboard-bc.db-bc2 {
    color: yellow;
}
.dashboard-bc.db-bc3 {
    color: orange;
}
.dashboard-bc.db-bc4 {
    color: red;
}

.bug-card.dashboard-bc {
    display: flex;
    flex-direction: column;
}

.db-bug-card-body {
 
    margin-top: 1.5rem;
    font-size: 3rem;
}
.db-bug-card-body .bi.bi-bug-fill {
    font-size: 3rem;
    margin-top: 1.5rem;
}

.db-bug-card-icon-container.bug-icons {
    display: flex;
    flex-direction: row;
}