
.dashboard-card-container {
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.dashboard-bc {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dashboard-bc-bottom-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
}

.dashboard-bc.db-bc1 {
    color: green;
}
.dashboard-bc.db-bc2 {
    color: yellow;
}
.dashboard-bc.db-bc3 {
    color: orange;
}
.dashboard-bc.db-bc4 {
    color: red;
}

.bug-card.dashboard-bc {
    display: flex;
    flex-direction: column;
}

.db-bug-card-body {
    font-size: var(--fs-focus);
    font-family: var(--ff-sigmar);
    text-shadow: var(--ts-outline);
}

.db-bug-card-icon-container {
    display: flex;
    font-size: 3rem;
    flex-direction: row;
    text-shadow: var(--ts-outline)
}

.db-bug-card-title {
    font-family: var(--ff-note);
    font-size: 1.75rem;
    text-shadow: var(--ts-outline);
    
}