.bug-radio-btn:hover {
    transform: scale(1.25);
    transition: .3s;
}

.bug-radio-btn:checked {
    transform: rotate(360deg);
    transition: .5s;
}

.bug-icon-label {
    background-color: transparent;
    border: none;
    font-size: 2rem;


}




/* input[type="radio"]:checked + label{
    content: '<i className="bi bi-bug-fill" ></i>'
} */