.navbar {
    width: 100vw;
    height: max-content;
    display: flex;
    background: linear-gradient(15deg, var(--prime-color) 0%, var(--second-color) 50%, var(--prime-color) 100% );
    color: var(--fourth-color);
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
}

.navbar-link {
    color: var(--fourth-color);
    font-family: var(--ff-sigmar);
    font-size: 1.75rem;
    text-decoration: none;
    text-shadow: 1px 2px 1px var(--third-color),
        1px 3px 1px var(--third-color),
        1px 4px 1px var(--third-color),
        2px 5px 1px var(--third-color),
        2px 6px 1px var(--third-color),
        3px 7px 1px var(--third-color),
        3px 8px 1px var(--third-color);
}

.user-control {
    margin-right: .75rem;
    margin-left: .75rem;
    font-family: var(--ff-dong)
}

.navbar-link:hover {
    color: var(--contrast-color);
    font-size: 1.5rem;
}

.navbar-main {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.navbar-logo {
    width: 25%;
}

.main-item {
    width: 100%;
}

button.navbar-link {
    background-color: transparent;
    border: none;
}

@media (max-width: 1200px) and (min-width: 901px) {
    .navbar-link {
        font-size: 1.25rem;
    }
}

@media (max-width: 900px) and (min-width: 601px) {
    .navbar-link {
        font-size: 1rem
    }
}

@media (max-width: 600px)

