.page-container.create-bug {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.lg-bug-card {
    margin-top: 30px;
    padding: 35px;
    width: 80vw;
    height: 82vh;
    display: grid;
    background-color: var(--prime-color);
    border-radius: 3rem;
    box-shadow: 7px 7px black;
    color: var(--fourth-color)
}

.lg-bug-card-header.input-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lg-bug-card-btn-link-edit {
    grid-row: 4;
    grid-column: 1 / 3;
    background-color: transparent;
    font-size: 4rem;
    font-weight: bolder;
    font-family: 'Spicy Rice', fantasy;
    color: var(--fourth-color);
    text-shadow: 3px 3px black;
}

button.lg-bug-card-btn-link-edit:hover {
    transform: scale(1.05);
    transition: 0.3s;
    background-color: midnightblue;
}

.bc-input-form-text {
    margin-left: 15px;
    height: 2.5rem;
    width: 65%;
    border-radius: 3rem;
    background-color: transparent;
    padding: 10px;
    font-size: 2rem;
}

.bc-input-form-text.name-input {
    background-color: var(--fourth-color);
}

.bc-input-form-text.bug-input.b6-card {
    width: 90%;
    margin-left: 0;
    margin-top: 15px;
}

.lg-bug-card-header-title {
    font-family: 'Spicy Rice', cursive;
    font-size: 4rem;
    text-shadow: 2px 2px white;
    color: var(--fourth-color);
}

.lg-bug-card-container-new {
    margin-top: 20px;
    display: grid;
    height: 30vw;
    width: 74vw;
    grid-template-rows: 33% 33% 17% 17%;
    grid-template-columns: 30% 30% 20% 20%;
    gap: 20px;
}

.card-bc1 {
    grid-row: 1;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-bc2 {
    grid-row: 2;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-bc3 {
    grid-row: 3;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-bc4 {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-bc5 {
    grid-row: 3;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.card-bc6 {
    grid-row: 3;
    grid-column: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-bc7 {
    grid-row: 4;
    grid-column: 3;
    display: flex;
}

.card-bc8 {
    grid-row: 4;
    grid-column: 4;
    display: flex;
}

.lg-bug-card-bottom {
    grid-row: 4;
    grid-column: 1 / 3
}

.lg-bug-card-image {
    grid-row: 1 / 3;
    grid-column: 3 / 5;
    background-color: rgba(0, 0, 0, 0.418);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.bug-view-btn {
    width: 5rem;
    height: 3rem;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 1.25rem;
    border-radius: 1rem;
    font-weight: bolder;
}

.bug-view-btn:hover {
    transform: scale(1.05);
    background-color: blueviolet;
    color: white;
    transition: 0.3s;
}

.lg-bug-card-hdr-btns {
    display: flex;
}

.lg-bug-card-long-div, .lg-bug-card-short-div, .lg-bug-card-long-half  {
    width: 100%;
    height: auto;
    background-color: var(--fourth-color);
    border-radius: 2rem;
    box-shadow: 5px 5px black;
}

.lg-bug-card-long-div-text {
    margin-top: 3px;
    color: black;
}

.lg-bug-card-long-div-divider {
    width: 95%;
    height: 4px;
    background-color: black;
}

.bc1-txt, .bc2-txt {
    color: black;
}

.bc3-txt, .bc5-txt, .bc6-txt {
    font-size: 2rem;
    color: black;
}

div.lg-bug-card-long-half.bc3, div.lg-bug-card-long-half.bc4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3px;
}

.lg-bug-card-short-half.card-bc7#divbc7 {
    display: flex;
    flex-direction: row;
    background-color: var(--fourth-color);
    border-radius: 2rem;
    align-items: center;
    box-shadow: 5px 5px black;
    margin-top: 5px;
    justify-content: center;
    padding-top: 5px;
    padding-left: 10px;
}
.lg-bug-card-short-half {
    display: flex;
    flex-direction: column;
    background-color: var(--fourth-color);
    border-radius: 2rem;
    align-items: center;
    box-shadow: 5px 5px black;
}

.lg-bug-card-bottom {
    grid-row: 4;
    grid-column: 1 / 3;
    display: flex;
    height: auto;
    width: 100%;
    background-color: var(--third-color);
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    font-size: 5rem;
    text-decoration: none;
    border-radius: 3rem;
}

.lg-bug-card-bottom:hover {
    transform: scale(1.05);
    background-color: crimson;
    transition: 0.3s;
}

.lg-bug-card-btn-link-edit {
    grid-row: 4;
    grid-column: 1 / 3;
    border-radius: 2rem;
    background-color: var(--second-color);
    font-family: 'Spicy Rice', cursive;
    font-size: 5rem;
    color: var(--fourth-color)

}

.lg-bug-card-header-title.lg-bug-label {
    color: black;
}

.bug-input {
    background-color: transparent;
    border: none;
    word-wrap: break-word;
    
}

.bug-input.area {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 8rem;
    justify-items: center;
    margin-top: 10px;
    
}

.user-dropdown.bug-input {
    margin-top: -10px;
    width: 90%;
    height: 2.5rem;
    border-radius: 3rem;
    color: black;
}

option.select-option {
    color: black;
    font-size: 1.3rem;
}

.bc-text.bc4-txt {
    font-size: 1.4rem;
}

