
.login-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    
}

#logincard.login-card-container{
    background-color: var(--second-color);
    border-radius: 3rem;
    align-items: center;
    
}

.login-card-input-cred {
    border: none;
    border-radius: 3rem;
    align-items: center;
}

.login-card-header {
    font-size: 3rem;
    border-radius: 3rem;
    align-items: center;
}

.login-form-container#loginFormCard {
    border-radius: 3rem;
    align-items: center;
    height: 375px;
    width: 600px;
    
}

.login-card-footer {
    display: flex;
    background-color: transparent;
}

.login-card-btn {
    margin: 10px;
}