.login-form-container {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    min-height: 300px;
    background-color: var(--third-color);
    border-color: black;
    border-width: 5px;
    border-radius: 2rem;
}

div.card-input {
    display: flex;
    line-height: 2.5;
    font-size: 1rem;
}

.card-header {
    margin: .25em auto;
    font-family: 'Spicy Rice', cursive;
    color: var(--fourth-color);
    font-size: 3.5rem;
    text-shadow: 3px 3px black;
}

.login-input {
    width: 90%;
    margin: .5rem auto;
    border-radius: .5rem;
    box-shadow: 2px 2px black;
    padding-left: 1rem;
}

div.card-footer#login-card-footer {
    display: flex;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.card-btn {
    border-width: .25em;
    border-radius: .5rem;
    margin: 0 auto;
    padding: .25rem;
}

.card-btn:hover {
    transform: scale(1.05);
    transition: .25s;
    background-color: blue;
}