
.login-card-container {
    display: flex;
    justify-content: center;

}

#logincard.login-card-container{
    background-color: var(--second-color)
}

.login-card-input-cred {
    border: none;
}

.login-form-container#loginFormCard {
    border-radius: 10rem;
    
}