.bg-slider-container {
    margin-top: -100px;
    z-index: 10;
}

.login-button {
    z-index: 100;
    position: absolute;
    left: 48vw;
    right: 48vw;
    top: 48vh;
    bottom: 48vh;
    min-width: 8vw;
    min-height: 8vw;
    border-radius: 5rem;
    box-shadow: 3em;
    background-color: crimson;
    color: white;
    font-weight: 900;
    font-size: 2rem;
}

.login-button:hover {
    transform: scale(1.5);
    transition: 0.4s;
}