.bg-slider-container {
    margin-top: -100px;
    z-index: 10;
}

.log-page {
    display: flex;
}

.login-button {
    z-index: 100;
    position: relative;
    left: 46vw;
    right: 46vw;
    top: 46vh;
    bottom: 0;
    min-width: 8vw;
    min-height: 8vw;
    border-radius: 5rem;
    box-shadow: 3em;
    background-color: crimson;
    color: white;
    font-weight: 900;
    font-size: 2rem;
}

.demo-button {
    z-index: 99;
    position: relative;
    left: 38vw;
    right: 46vw;
    top: 33vw;
    bottom: 150px;
    min-width: 8vw;
    min-height: 8vw;
    border-radius: 5rem;
    box-shadow: 1px 1px white;
    background-color: crimson;
    color: white;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    padding-top: 4rem;
    text-decoration: none;

}

.login-button:hover {
    transform: scale(1.5);
    transition: 0.4s;
}

.demo-button:hover {
    transform: scale(1.5);
    transition: 0.4s;
    background-color: orange;
}