.login-form-container {
    display: flex;
    flex-direction: column;
    height: 375px;
    width: 600px;
    border-radius: 3rem;
}

.input-div {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
}

.signup-input {
    border-radius: 3rem;

}

.signup-input-divs-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
}