
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    
    --prime-color: #1B262C;
    --second-color: #0F4C75;
    --third-color: #3282B8;
    --fourth-color: #BBE1FA;
    --contrast-color: #35cb46;
    
    --ff-spicy: "Spicy Rice", cursive;
    --ff-sigmar: "Sigmar One", cursive;
    --ff-note: "Notable", sans-serif;
    --ff-econ: "Economico", sans-serif;
    --ff-script: "Lobster Two", cursive;
    --ff-dong: "Dongle", sans-serif;
    
    font-family: "Lucida Console", "Courier New", monospace;
    color: black;
    background-color: white;
}

a {
    text-decoration: none;
    color: var(--prime-color)
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    background: var(--prime-color);
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    font-family: var(--ff-sigmar);
    text-align: center;
}

.btn-link {
    text-decoration: none;
    color: var(--prime-color)
}

.page-header {
    display: flex;
    font: 5rem bolder;
    color: purple;
    text-shadow: black;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.page-container {
    display: grid;
    background-color: white;
    width: 100vw;
    grid-template-rows: 50px 1fr;   
}

input:hover {
    transform: scale(1.05);
    transition: 0.25s;
}

input[type="textarea"]:hover {
    transform: scale(1.05);
    transition: 0.25s;
}



input:focus {
    border-color: #BBE1FA;
    border-width: 5px;
}

.nav-link {
    text-decoration: none;
}
/* .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: inherit transparent transparent transparent;
  } */