.bug-card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bug-card-div {
    width: 90%;
    height: 20%;
    margin: .4em auto;
}

.bug-card-div.card-title {
    height: 1rem;
    margin-bottom: 2rem;
}

.bug-card-text {
    text-align: center;
    font-size: var(--fs-card);
    text-overflow: ellipsis;
}

.card-title-text {
    font-family: var(--ff-mono);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-priority-lvl-text {
    font-family: var(--ff-note);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.card-priority-text {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    
}

.card-assignedto-text {
    font-family: var(--ff-sigmar);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


