/* .bug-card {
    background-color: var(--prime-color);
    width: 400px;
    min-height: 300px;
    
    border-radius: 3rem;
    box-shadow: 1em 1em 1em rgb(85, 84, 84);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.7rem;
    margin: 5px;
} */
.bug-card-text.card-title {
    padding-left: 2rem;
    padding-right: 2rem;
    word-wrap: break-word;
    text-align: center;
}

.bug-card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bug-card-text {
    text-justify: auto;
}

.bug-card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}